<section class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h2 class="my-3 text-center">This is Route Tech Summit Task</h2>
    </div>
    <div class="card-body">
      <app-table
        [theaders]="theadTemplate"
        [tbody]="tbodyTemplate"
        [customers]="allCustomers"
        [customerTransactionAmounts]="customerTransactionAmout"
      >
        <ng-template #theadTemplate>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Total Transaction Amount</th>
            <th>Transactions per day</th>
          </tr>
        </ng-template>
        <ng-template #tbodyTemplate>
          <tr *ngFor="let customer of filteredCustomers; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ customer.name }}</td>
            <td class="text-center">
              {{ customerTransactionAmout[customer.id] || 0 }}
            </td>
            <td class="text-center"><button class="my-btn">View</button></td>
          </tr>
        </ng-template>
      </app-table>
    </div>
  </div>
</section>
