<section class="container mt-5 mb-5">
  <div class="card">
    <div
      class="card-header d-flex justify-content-between align-items-center flex-column flex-md-row"
    >
      <h2 class="my-3 text-center">
        This is Route Tech Summit Task by
        <a
          target="_blank"
          href="https://www.linkedin.com/in/omar-zantout-ba3047253/"
          >Omar Zantout</a
        >
      </h2>
      <img
        width="50px"
        height="50px"
        class="rounded-circle object-fit-cover"
        src="./../../../assets/imgs/Omar_Zantout_1.jpg"
        alt=""
      />
    </div>
    <div class="card-body">
      <app-table
        [theaders]="theadTemplate"
        [tbody]="tbodyTemplate"
        [customers]="allCustomers"
        [customerTransactionAmount]="customerTransactionAmout"
        [pagination]="true"
        [search]="true"
        [pageSize]="5"
        (viewCustomer)="onViewCustomer($event)"
      >
        <ng-template #theadTemplate>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th class="text-center">Total Transaction Amount</th>
            <th class="text-center">Transactions per day</th>
          </tr>
        </ng-template>
        <ng-template
          #tbodyTemplate
          let-customer
          let-onViewCustomer="onViewCustomer"
          let-i="i"
        >
          <tr>
            <td>{{ customer.id }}</td>
            <td>{{ customer.name }}</td>
            <td class="text-center">
              {{ customerTransactionAmout[customer.id] || 0 }}
            </td>
            <td class="text-center">
              <button class="my-btn" (click)="onViewCustomer(customer.id)">
                View
              </button>
            </td>
          </tr>
        </ng-template>
      </app-table>

      <!-- <div class="showchart">
        @if(OneCustomerTransaction.length != 0){
        <app-trans-chart
          [customerTransaction]="OneCustomerTransaction"
        ></app-trans-chart>

        }@else {
        <ng-template #viewCustomer>
          <h3 class="text-center mt-3 text-primary-color">
            Please click on View to show transactions graph.
          </h3>
        </ng-template>
        }
      </div> -->
      <div class="text-center mt-3">
        <ng-container
          *ngIf="OneCustomerTransaction.length != 0; else viewCustomer"
        >
          <app-trans-chart
            [customerTransaction]="OneCustomerTransaction"
          ></app-trans-chart>
        </ng-container>
        <ng-template #viewCustomer>
          <h3 class="text-primary-color">
            Please click on View to show transactions graph.
          </h3>
        </ng-template>
      </div>
    </div>
  </div>
</section>
